html {
  font-size: 18px;
  font-family: 'Unica One', cursive;
}

body {
  font-family: 'Unica One', cursive;
  background-color: dimgray;
  background-image: url('./img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: whitesmoke;
  margin: 0;
  padding: 0;
}

#bg-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  margin: 0;
  height: 100vh;
  position: static;
}

nav {
  height: 68px;
  display: flex;
  justify-items: center;
  justify-content: center;
}

#logo {
  border-radius: 0.3rem;
  opacity: 0.9;
}

#logo:hover {
  opacity: 1;
}

.prof {
  margin: auto 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.3rem 1.2rem 0.2rem 1.2rem;
  align-items: center;
  align-content: center;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
  color: black;
  border: solid 0.5px white;
  border-radius: 0.3rem;
  transition: all 300ms;
}

.prof:hover {
  background-color: rgba(156, 156, 156, 0.6);
  color: white;
  border: solid 0.5px rgba(156, 156, 156, 0.6);
}

#title {
  font-family: 'Major Mono Display', monospace;
  font-size: 3rem;
  margin: 0 2rem;
}

#d:hover {
  font-style: none;
  color: rgba(255, 124, 124, 0.8);
  transition: all 300ms;
}

#n:hover {
  font-style: none;
  color: rgb(196, 196, 255);
  transition: all 300ms;  
}

p {
  font-size: 1rem;
}

div {
  opacity: 0.9;
}

.content {
  z-index: 2;
  position: relative;
  top: 2rem;
  width: 50%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  padding: 1.5rem;
  border-radius: 10% / 90%;
  transition: border-radius 15s ease-in-out;
}

.content p {
  text-align: justify;
  line-height: 1.5;
  margin: 2rem 3.5rem;
  margin: 25px 63px;
}

.content h2 {
  text-align: left;
  padding-left: 4.5rem;
}

.content:hover {
  border-radius: 10% 20% 10% 20%;
}

#projects {
  text-align: left;
  margin: 25px 40px;
}

#projects li {
  align-items: left;
}

.wrap {
  overflow: hidden;
  position: relative;
  height: 800px;
}

.bg {
  opacity: 0.2;
  position: relative;
  left: 0;
  top: 0;
  width: 70%;
  height: auto;
}

#skills {
  display: flex;
  justify-content: flex-start;
  justify-items: center;
  height: 26px;
  margin: 25px 63px;
}

#skills img {
  max-height: 26px;
  padding: 0;
  margin: 0 0 0 4px;
}

#skills span {
  position: relative;
  font-family: Arial;
  font-size: 9px;
  border-radius: 2px;
  background-color: black;
  color: white;
  max-width: 24px;
  max-height: 24px;
  padding: 7px 5px 5px 5px;
  margin-left: 4px;
  align-items: center;
  align-content: center;
}

audio {
  width: 450px;
}

audio::-webkit-media-controls-enclosure {
    /*border-radius: 5px;*/
    background-color: white;
}

audio::-webkit-media-controls-mute-button, 
audio::-webkit-media-controls-play-button, 
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
  background-color: black;
}

